
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
#selectedCareerDiv {
    border: 7px solid red;
    padding: 1%;
    float:right;
    shape-outside: margin-box;
    max-width: 55%;
    background-color: var(--navColor);
    color: var(--textColor);
    min-height: 100ex;
}

th,td {
    background-color: lightgray;
    border-right: 1px solid black;
    text-align: center;
    padding: auto;
}

table {
    width:100%;
    border:1px solid black
}

.centerself {
    display: flex;
    justify-content: center;
}

#selectedCareerAdvanceScheme {
    background-color: black;
    color: white;
    padding-top:0.5em;
}
#selectedCareerName {
    margin: 0 0 0.4em 0;
}
#selectedCareerAdvanceScheme>:not(table) {
    padding: 0em 0.5em 0em 0.5em;
    margin: 0;
}
#selectedCareerMainProfile, #selectedCareerSecondaryProfile {
    color: black;
}


.cinzel {
    font-family: 'Cinzel', serif;
}

.playfair {
    font-family: 'Playfair Display', serif;
}

.columnsmall {
  float: left;
  width: 39%;
}
.columnbig {
  float: right;
  width: 59%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

body {
    padding:0.75em;
    background-color: beige

}
main {
    padding: 0 1.5em 
}
.careerButton {
    border: 1px solid black;
    border-radius: 0;
    padding: 0.3%;
    background-color: lavender;
    margin: 0.1em;
}
.careerButton:hover {
    background-color: lightgray;
}
.careerButton:hover:active:not(:disabled) {
    background-color: gray;
    color:white;
}
.careerButton.careerChosen {
    background-color: gray;
    color:white;
}
.careerButton.careerEntry {
    background-color: #7377AB;
    color:white
}
.careerbutton.careerExit {
    background-color: #c73e1d;
    color:white;
}
.careerButton.careerExit.careerEntry {
    background-color: initial;
    color: white;
    background-image: linear-gradient(45deg, #7377AB 50%, #c73e1d 50%);
}
.careerButton.careerSpecial {
    background-color: yellow;
    color: black;
}

.careerButton.searchResult {
    background-color: lime;
    color: black;
    box-shadow: lime 0px 0px 10px 2px
}